.minesweeper {
  font-family: sans-serif;
  height: 100%;
  width: 100%;

  display: flex;
  flex-flow: column nowrap;
}

.minesweeper__heading {
  min-height: 40px;
  margin: 0;

  display: flex;
  flex: 1 0 0;
  align-items: center;
  justify-content: center;
}

.minesweeper__board {
  background: #ddd;
  cursor: default;
  display: flex;
  flex: 10 0 0;
  flex-flow: row nowrap;
  -webkit-user-select: none;
  user-select: none;
}

.minesweeper__controls {
  display: flex;
  flex: 1 0 0;
  min-height: 40px;
}

.minesweeper__new-game {
  width: 100%;
}

.minesweeper__col {
  align-items: stretch;
  display: flex;
  flex: 1 1 0;
  flex-flow: column nowrap;
}

.minesweeper__cell {
  align-items: center;
  background: #eee;
  border-color: #888 #333 #333 #888;
  border-radius: 4px;
  border-style: solid;
  border-width: 1px;
  box-sizing: border-box;
  display: inline-flex;
  flex: 1 1 2px;
  justify-content: center;
  margin: 1px;
}

.minesweeper__cell:before {
  content: '';
  display: block;
  padding-top: 100%;
}

.minesweeper__cell--revealed {
  background: none;
  border: none;
}

.minesweeper__cell--bomb-lost, .minesweeper__cell--bomb-won {
  border: none;
  border-radius: 50%;
}

.minesweeper__cell--bomb-lost {
  background: #e33;
}

.minesweeper__cell--bomb-won {
  background: #3e3;
}

.
