.minesweeper-container {
  width: 400px;
  height: 400px;
}

.minesweeper {
  background: #ddd;
  font-family: sans-serif;
  height: 100%;
  padding: 1px;
  width: 100%;
}

.minesweeper__board {
  display: flex;
  flex-flow: row nowrap;
  height: 100%;
  -webkit-user-select: none;
  user-select: none;
  cursor: default;
}

.minesweeper__col {
  align-items: stretch;
  display: flex;
  flex: 1 1 0;
  flex-flow: column nowrap;
}

.minesweeper__cell {
  align-items: center;
  background: #eee;
  border-color: #888 #333 #333 #888;
  border-radius: 4px;
  border-style: solid;
  border-width: 1px;
  box-sizing: border-box;
  display: inline-flex;
  flex: 1 1 2px;
  justify-content: center;
  margin: 1px;
}

.minesweeper__cell:before {
  content: '';
  display: block;
  padding-top: 100%;
}

.minesweeper__cell--revealed {
  background: none;
  border: none;
}

.minesweeper__cell--bomb {
  background: #e33;
  border: none;
  border-radius: 50%;
}

.
