@import 'nib';

.minesweeper {
  font-family: sans-serif;
  height: 100%;
  width: 100%;

  display: flex;
  flex-flow: column nowrap;
}

.minesweeper__heading {
  min-height: 40px;
  margin: 0;

  display: flex;
  flex: 1 0 0;
  align-items: center;
  justify-content: center;
}

.minesweeper__board {
  background: #ddd;
  cursor: default;
  display: flex;
  flex: 10 0 0;
  flex-flow: column nowrap;
  user-select: none;
}

.minesweeper__controls {
  display: flex;
  flex: 1 0 0;
  min-height: 40px;
}

.minesweeper__new-game {
  width: 100%;
}

.minesweeper__row {
  align-items: stretch;
  display: flex;
  flex: 1 1 0;
  flex-flow: row nowrap;
}

.minesweeper__cell {
  align-items: center;
  background: #eee;
  border-color: #888 #333 #333 #888;
  border-radius: 4px;
  border-style: solid;
  border-width: 1px;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-flex;
  flex: 1 1 2px;
  justify-content: center;
  margin: 1px;

  &--revealed {
    background: none;
    border: none;
    cursor: default;
  }

  &--bomb-lost, &--bomb-won {
    border: none;
    border-radius: 50%;
    cursor: default;
  }

  &--bomb-lost {
    background: #e33;
  }

  &--bomb-won {
    background: #3e3;
  }
}

